@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-Medium.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-SemiBold.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-Bold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    //noinspection CssUnknownTarget
    src: url("/src/assets/fonts/Poppins-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}


// default reusable measurements
$padding: 16px;
$radius: 16px;
$transition: 0.2s;
$shadow: 0px 5.10559px 23.8261px rgba(19, 10, 46, 0.03), 0px 1.70186px 5.10559px rgba(19, 10, 46, 0.13);
$shadow-hover: 0px 5.10559px 23.8261px rgba(19, 10, 46, 0.06), 0px 1.70186px 5.10559px rgba(19, 10, 46, 0.26);
$shadow2: 0px 148px 89px rgba(35, 47, 59, 0.05), 0px 66px 66px rgba(35, 47, 59, 0.09), 0px 16px 36px rgba(35, 47, 59, 0.1), 0px 0px 0px rgba(35, 47, 59, 0.1), 0px 51.0559px 85.0932px rgba(19, 10, 46, 0.08), 0px 13.6149px 54.4596px rgba(19, 10, 46, 0.07), 0px 5.10559px 23.8261px rgba(19, 10, 46, 0.03), 0px 1.70186px 5.10559px rgba(19, 10, 46, 0.13);

// Typography
$font-family: "Poppins", sans-serif, Arial, sans-serif;

$white: #FFFFFF;
$black: #000000;

/* Primary color */
$brand-D1: #4536DC;
$brand: #5542F6;
$brand-L1: #7768F8;
$brand-L2: #AAA0FA;
$brand-L3: #DDD9FD;
$brand-L4: #EEECFE;
$brand-L5: #F7F6FF;

/* Primary color */
$gray-D3: #222A32;
$gray-D2: #445463;
$gray-D1: #677F95;
$gray: #98A8B7;
$gray-L1: #CBD4DB;
$gray-L2: #EFF2F4;
$gray-L3: #F5F6F8;
$gray-L4: #FAFBFF;

/* success colors */
$success: #00875A;
$success-L1: #CCE7DE;
$success-L2: #E6F3EF;

/* Error colors */
$error: #FC5A5A;
$error-L1: #FEDEDE;
$error-L2: #FFEFEF;

/* Warning colors */
$warning: #FF991F;
$warning-L1: #FFEBD2;
$warning-L2: #FFF5E9;

/*Blue colors*/
$blue: #2F80ED;
$yellow: #FCCA3E;

/*Z-indexing*/
$level1: 1; // below everything
$level2: 2; // content
$level3: 3; // above content
$level4: 4; // top menu
$level5: 5; // above top menu